@font-face{
    font-family: Glass_TTY;
    src: url(./Glass_TTY_VT220.ttf);
}
:root{
    --green: #61E9CD;
    --background: #142239;
    --Terminal:  rgb(11, 169, 5);
}


body {

    padding: 0;
    font-family: Glass_TTY;
    background-color: var(--background);
}

header {
    color: var(--green);
    padding: 10px;
    position: relative;
    padding-left: 30px;
}
.gapBackground {
    background-color: var(--background);
    padding: 10px;
    margin-left: 90px;
}

h1 {
    font-size: 30px;
    background-color: var(--background);
    padding: 5px;
    
}

/* the decorative lines in my page */
.h-possition {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.deco-line {
    position: absolute;
    background-color: #fff;
    height: 2px;
    z-index: -3;
    right: 30px;
    left: 30px;
}


/* this is the square around profile pic */
.profile-square img {
    width: 100%;
    height: auto;
    display: block;
}
.profile-square {
    margin: 10px;
    left: 20px;
    width: 30%;
    min-width: 150px;
    max-width: 250px;
    border: 3px solid var(--green);
    position: relative;
}
.profile-square::after {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: 6px; 
    left: 6px; 
    outline: 3px solid var(--green);
    background-color: var(--background); 
    z-index: -1; /* makes it show up behid square */
}

/* the navigation menu */
.navigation {
    position: absolute;
    top: 16vh;
    left: 60vw;
    justify-content: center;
    margin-top: -50px;
    z-index: 2;
}

.navigation ul {
    list-style-type: none;
}

.navigation li {
    margin-right: 40px;
    padding-top: 30px;
    min-width: 101px;    
}

.navigation a {
    text-decoration: none;
    color: #fff;;
    font-size: 16px;
    border: 3px solid var(--green);
    padding: 5px;
    width: 140px;
    transition: color 0.3s ease;
    position: relative;
    background-color: var(--background);
    display: flex;
    justify-content: center;   
    
}
.navigation ul a::after {
    background-color: var(--backgrou);
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: 6px;
    left: 6px; 
    outline: 3px solid var(--green);
    z-index: -2; /* makes it show up behid square */
    background-color:var(--background);
}
.navigation a:hover{
    color: var(--green);
    background-color:black;
}
.hover-select:hover::before {
    content: ">";
    padding-right: 2px;
    color:var(--green); /* Change the color when hovering */
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* About me section */
h2 {
    color: var(--green);
    padding-left: 80px;
    position: relative;
}

#deco-line-work { 
    right: 30px;
    left: 185px;
}

p {
    padding-top: 30px;
    color: #fff;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2;
    margin-bottom: 0;
}
.typingAnimation::after{
    content: "";
    position: relative;
    top: -11px;
    left: -10px;
    display: inline-block;
    background-color: var(--green);
    vertical-align: bottom;
    width: 8px;
    height: 16px;
    animation: blink 1s infinite;
}

.highlight {
    color: var(--green);
}

/* past work example section */
.work-container {
    margin: 0 30px;
    overflow: hidden;
    width: 100%;
}

#first-work {
    width: calc(100% - 60px); 
    max-width: 826px;
}

.work-border {
    width: calc((100% - 60px - 26px) / 2); 
    float: left;
    margin-right: 1.6rem; 
    margin-top: 20px;
    border: 3px solid var(--green); 
    max-width: 391px;
    position: relative;
}

.text-box {
    position: absolute;
    top: 60%;
    right: .5%;
    padding: 10px;
    height: 70px;
    background-color:black; 
    color: var(--green);
    border: var(--green) solid;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
}
.text-box p li{
    height: 90%;
    text-align: center;
    top: auto;
}
.work-border:hover .text-box {
    opacity: 1; /* Show the text on hover */
}

.work-border:last-child {
    margin-right: 0px; /* Remove margin on the last smaller image to get riid of extra space */
}

.work-border img {
    width: 100%;
    height: auto;
    display: block;
}

/*----fotter section----*/ 

#deco-line-contact { 
    right: 30px;
    left: 206px;
}

footer {
   text-align: right;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
footer div {
    margin-right: 30px;
    padding-top: 2px;
}
i {
    color: #fff;
}
/*-----settings for the hover effect on the footer-----*/
i:hover{
    color:var(--green);
}
.iconHover:hover::before{
    content: ">";
    color: var(--green);
    animation: blink 1s infinite;
}

footer div span { 
    display: none;
    position: absolute;
    right: 5%;
    background-color:black;
    color: var(--green);
    padding: 5px;
    margin-top: -60px;
    white-space: nowrap;
    outline: 3px solid var(--green);
}
footer div span::after{
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: 6px;
    left: 6px; 
    outline: 3px solid var(--green);
    background-color: black;
    z-index: -2;
}
footer div:hover span{
    display: inline-block;
    align-items: flex-end;
}

@media screen and (max-width: 499px) {
    .navigation a {
        font-size: 12px;
    }
}

@media screen and (min-width: 710px) {
    /*--to resize nav to adjust for difrent screens--*/
    .navigation {
        position: absolute;
        top: 55px; 
        right: 3%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end; 
        align-items: center; 
        list-style-type: none;
    }

    .navigation li {
        padding-top: 0;
        width: 136px;
        margin-right: 20px;
    }

    .navigation a {
        padding: 5px; 
        border: 3px solid var(--green);
    }
    /*--to resize about-me to adjust for difrent screens--*/
   
    .about-me{
        position: absolute;
        top: 60px;
        left: 310px;
    }
}
