
:root{
    --green: #61E9CD;
    --background: #142239;
    --hover-green: #00ff88;
    /*--overlay-green: #61e9ce43;*/
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background);
}

header {
    color: var(--green);
    padding: 10px;
    position: relative;
    padding-left: 30px;
}

h1 {
    font-size: 30px;
    padding-bottom: 35px;
}

/* the decorative lines in my page */
.h2-possition {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.deco-line {
    position: absolute;
    background-color: #fff;
    height: 2px;
    z-index: -3;
}

#deco-line-header {
    bottom: 60px;
    right: 30px;
    left: 190px;
    margin-left: 30px;
    position: absolute;
}

#deco-line-About-me {
    right: 30px;
    left: 194px;
}

/*here to move the decoration line on the left of all h2 elements */
.deco-line-left {
    left: 30px;
    width: 38px;
}
/* this is the square around profile pic */
.profile-square img {
    width: 100%;
    height: auto;
    display: block;
}
.profile-square {
    margin: 10px;
    left: 20px;
    width: 30%;
    max-width: 250px;
    border: 3px solid var(--green);
    position: relative;
}
.profile-square::after {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: 6px; 
    left: 6px; 
    outline: 3px solid var(--green);
    background-color: var(--background); 
    z-index: -1; /* makes it show up behid square */
}

/* the navigation menu */
.navigation {
    position: absolute;
    top: 16vh;
    left: 60vw;
    justify-content: center;
    margin-top: -50px;
}

.navigation ul {
    list-style-type: none;
}

.navigation li {
    margin-right: 40px;
    padding-top: 30px;    
}

.navigation a {
    color:var(--green);
    font-size: 16px;
    border: 3px solid var(--green);
    padding: 5px;
    transition: color 0.3s ease;
    position: relative;
    background-color: var(--background);
    display: flex;
    justify-content: center;   
}
.navigation ul a::after {
    background-color: var(--backgrou);
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: 6px;
    left: 6px; 
    outline: 3px solid var(--green);
    z-index: -2; /* makes it show up behid square */
    background-color:var(--background);
}

.navigation a:hover {
    
    background-color: var(--green);
    color:var(--background); /* Change the color when hovering */
    border: 3px solid var(--background);
}
/* About me section */
h2 {
    color: var(--green);
    padding-left: 79px;
    position: relative;
}

#deco-line-work { 
    right: 30px;
    left: 157px;
}

p {
    padding-top: 30px;
    color: #fff;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2;
    margin-bottom: 0;
}

.highlight {
    color: var(--green);
}

/* past work example section */
.work-container {
    margin: 0 30px;
    overflow: hidden;
    width: 100%;
}

#first-work {
    width: calc(100% - 60px); 
    max-width: 826px;
}

.work-border {
    width: calc((100% - 60px - 26px) / 2); 
    float: left;
    margin-right: 1.6rem; 
    margin-top: 20px;
    border: 3px solid var(--green); 
    max-width: 391px;
}

.work-border:last-child {
    margin-right: 0px; /* Remove margin on the last smaller image to get riid of extra space */
}

.work-border img {
    width: 100%;
    height: auto;
    display: block;
}

/*----fotter section----*/ 

#deco-line-contact { 
    right: 30px;
    left: 206px;
}

footer {
   text-align: right;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
footer div {
    margin-right: 30px;
    padding-top: 2px;
}
i {
    color: #fff;
}
/*-----settings for the hover effect on the footer-----*/
i:hover{
    color:var(--green);
}
footer div span { 
    display: none;
    position: absolute;
    right: 5%;
    background-color:var(--green);
    color: var(--background);
    padding: 5px;
    border-radius: 0px;
    margin-top: -50px;
    white-space: nowrap;
}
footer div span::after{
    content: '';
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: 6px;
    left: 6px; 
    outline: 3px solid var(--green);
    z-index: -2;
}
footer div:hover span{
    display: inline-block;
    align-items: flex-end;
}

@media screen and (max-width: 499px) {
    .navigation a {
        font-size: 12px;
    }
}

@media screen and (min-width: 710px) {
    /*--to resize nav to adjust for difrent screens--*/
    .navigation {
        position: absolute;
        top: 15px; 
        right: 3%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0;

    }

    .navigation ul {
        display: flex;
        justify-content: flex-end; 
        align-items: center; 
        list-style-type: none;
    }

    .navigation li {
        padding-top: 0;
        width: 136px;
        margin-right: 20px;
    }

    .navigation a {
        padding: 5px; 
        border: 3px solid var(--green);
    }
    /*--to resize about-me to adjust for difrent screens--*/
   
    .about-me{
        position: absolute;
        top: 60px;
        left: 280px;
    }
}
