@font-face{
    font-family: Glass_TTY;
    src: url(./Glass_TTY_VT220.ttf);
}
:root{
    --border-color: #056502;
    --green: #08a702;
    --green-selected: #0cfc03;
    --background:#254434;
    --Terminal-background:  rgb(11, 169, 5);
    --white: #fff;
}


body {
    padding: 0;
    font-family: Glass_TTY;
    background: radial-gradient(circle, #192e23, #000000);
}


header {
    color: var(--green);
    padding: 10px;
    position: relative;
    padding-left: 30px;
}


h1 {
    font-size: 30px;
    padding: 5px;
    
}

/* the decorative lines in my page */
.h-possition {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.deco-line {
    position: absolute;
    margin-top: 25px;
    background-color:var(--border-color);
    height: 2px;
    z-index: -3;
    right: 30px;
    left: 30px;
}


/* this is the square around profile pic */
.profile-square img {
    width: 100%;
    height: auto;
    display: block;
}
.profile-square {
    margin: 10px;
    left: 20px;
    width: 30%;
    min-width: 150px;
    max-width: 250px;
    box-shadow: 0 0 16px var(--border-color);
    position: relative;
}


/* the navigation menu */
.navigation {
    position: absolute;
    top: 17vh;
    justify-content: center;
    margin-top: -50px;
    z-index: 2;
    margin-left: 198px;
    
}

.navigation ul {
    list-style-type: none;
    
}

.navigation li {
    margin-right: 15px;
    padding-top: 30px;
    min-width: 101px;    
    
}


.navigation a {
    text-decoration: none;
    color: var(--green);
    font-size: 16px;
    padding: 5px;
    width: 140px;
    transition: color 0.3s ease;
    position: relative;
    display: flex;
    justify-content: left;   
    border: 3px solid var(--border-color);
    
}

.navigation a:hover{
    color: var(--green-selected);
    background-color:var(--background);
    
}
.hover-select:hover::before {
    content: ">";
    padding-right: 2px;
    color:var(--green-selected); /* Change the color when hovering */
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* About me section */
h2 {
    color: var(--green);
    padding-left: 80px;
    position: relative;
}

p {
    padding-top: 30px;
    color: var(--green);
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2;
    margin-bottom: 0;
    
}


/*---highlighted words---*/
mark{
    background-color: var(--green);
    font-weight: bold;
}

.typingAnimation::after{
    content: "";
    position: relative;
    top: -11px;
    left: 0;
    display: inline-block;
    background-color: var(--green);
    vertical-align: bottom;
    width: 8px;
    height: 16px;
    animation: blink 1s infinite;
}
.typingAnimation-Description::after{
    content: "";
    position: relative;
    display: inline-block;
    background-color: var(--green);
    vertical-align: bottom;
    width: 8px;
    height: 16px;
    animation: blink 1s infinite;

}

/* past work example section */
.work-container {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.work-border { 
    margin-top: 20px;
    border: 3px solid var(--border-color); 
    min-width: 100px;
    
}

.work-border img {
    width: 100%;
}
.tint::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #056502a0;
    pointer-events: none;
}
#text-box-flex{
    display: flex;
    flex-direction: row;
    margin-right: 30px;

}
.description-Box {
    flex: 1;
    background: #254434d1;
    margin-left: 30px;
    margin-top: 20px;
    padding: 5px;
    height:fit-content;
}
#work-Tittle {
    padding: 0;
    text-align: center;
    font-size: 30px;
}
#description-tittle{
    text-decoration: underline;
    color: var(--green);
    margin-top: 30px;
    margin-bottom: 10px;
}
#work-Description {
    color: var(--green);
}
#tools-list{
    text-decoration: underline;
    color: var(--green);
    margin-top: 30px;
    margin-bottom: 10px;
}
#work-tools {
    color: var(--green);
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 30px;
}
#work-link {
    display: none;
    box-sizing: border-box;
    color: var(--green);
    text-decoration: none;
    padding: 5px 10px;
    width: fit-content;
    border: 3px solid var(--border-color);
    margin-left: 45%;
    margin-bottom: 30px;
}
#work-link:hover{
    background: #254434;
    border: 3px solid var(--border-color);
    color: var(--green-selected);
}
#work-link:hover::before{
    content: ">";
    animation: blink 1s infinite;
}


/*----fotter section----*/ 
.h-possition
#deco-line-contact { 
    right: 30px;
    left: 206px;
}

footer {
   text-align: right;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
footer div {
    margin-right: 30px;
    padding-top: 10px;
    margin-bottom: 30px;
}
i {
    color: var(--border-color);
}
/*-----settings for the hover effect on the footer-----*/
i:hover{
    color:var(--green);
}
.iconHover:hover::before{
    content: ">";
    color: var(--green-selected);
    animation: blink 1s infinite;
}

footer div span { 
    display: none;
    position: absolute;
    right: 5%;
    color: var(--green-selected);
    padding: 5px;
    margin-top: -60px;
    white-space: nowrap;
    outline: 3px solid var(--border-color);
}

footer div:hover span{
    display: inline-block;
    align-items: flex-end;
}

#typed-text {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid; /* Add a cursor effect */
}

/*-- changing the image on hover --*/
#profile-image-change:hover img {
    content: url('./images/profile/profile.jpeg');
}
#first-job-image:hover img {
    content: url('./images/job1/horiseon.png');
}
#second-job-image:hover img {
    content: url("./images/job2/Screenshot\ 2023-12-19\ at\ 11.22.34\ PM\ \(2\).png");
}
#third-job-image:hover img {
    content: url('./images/job3/job3.png');
}
#forth-job-image:hover img {
    content: url(./images/PlaceHolder.png);
}


@media screen and (min-width: 500px){
    .navigation {
        position: absolute;
        top: 100px; 
        right: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0;
    }
    #work-Tittle {
        font-size: 25px;
    }
}

@media screen and (min-width: 830px) {
    /*--to resize nav to adjust for difrent screens--*/
    .navigation {
        position: absolute;
        top: 100px; 
        right: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end; 
        align-items: center; 
        list-style-type: none;
    }

    .navigation li {
        padding-top: 0;
        width: 136px;
        margin-right: 20px;
    }

    .navigation a {
        padding: 5px; 
        
    }
    /*--to resize about-me to adjust for difrent screens--*/
   
    .about-me{
        position: absolute;
        top: 15VH;
        left: 310px;
    }
   
}
