@font-face{
    font-family: Glass_TTY;
    src: url(./Glass_TTY_VT220.ttf);
}
:root{
    --border-color: #056502;
    --green: #08a702;
    --green-selected: #0cfc03;
    --background:#254434;
    --white: #fff;
    --myRadialGradient: radial-gradient(circle, #12221a, #000000);
}


body {
    padding: 0;
    font-family: Glass_TTY;
    background: var(--myRadialGradient);
    border: 6px solid rgb(49, 48, 48);
    border-radius: 10px;
    box-shadow: inset 0 0 10px 5px var(--background);
    
}


header {
    color: var(--green);
    padding: 30px;
    position: relative;
    padding-left:30px;
}


h1 {
    font-size: 30px;
    padding: 10px;
    
}


/* the decorative lines in my page */
.h-position {
    margin-top: 40px;
    display: flex;
    display: inline;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.h-position h2 {
    padding-left: 0px;
}

.h2Positions {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.deco-line {
    position: absolute;
    margin-top: 0px;
    background-color:var(--border-color);
    height: 2px;
    z-index: -3;
    right: 30px;
    left: 30px;
}
.deco-lineNotHead{
    position: absolute;
    margin-top: 25px;
    background-color:var(--border-color);
    height: 2px;
    z-index: -3;
    right: 30px;
    left: 30px;
}

#profileSection{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* this is the square around profile pic */
.profile-square img {
    width: 100%;
    min-width: 150px;
    max-width: 200px;
    border: 3px solid var(--border-color);
    height: 100%;
    z-index: 0;
}
.profile-square {
    width: 55vw;
    min-width: 150px;
    max-width: 250px;
    height: 100%;
    margin-left: 30px;
    z-index: 1;
}


/* the navigation menu */
.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#nav-folder{
    display: flex;
    flex-direction: column;
    width: fit-content;
    cursor: pointer;
    gap: 5px;
    flex: 1;
}
.menu-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: fit-content;
    padding: 15px 5px 15px 5px ;
    width: 90px;
}
.menu-item span{
    font-size: 15px;
}

i {
    color: var(--green);
}

.menuSelect {
    color: var(--green);
}
.menu-item:hover{
    color: #000000;
    background-color: var(--green-selected);
    border: 2px solid var(--border-color);
}
.menu-item:hover i{
    color: #000000;
    
}
.menu-item:hover::before {
    content: ">";
    font-size: 30px;
    position: absolute;
    color:var(--green-selected); /* Change the color when hovering */
    animation: blink 1s infinite;
    position: absolute;
    left: -20px;
    
}


@keyframes expandAnimation {
    to{
        right: 40px;
        height: 200px;
    }
}
#nav-box{
    text-align: center;
    position: fixed;
    width: 350px;
    right: 30px;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    z-index: 0;
    border: 5px solid rgb(49, 48, 48);
    border-radius: 10px;
    box-shadow: inset 0 0 10px 5px var(--background);
    background: radial-gradient(circle, #12221a, #000000);
    border-width: 5px 5px 5px 5px;
    transition: left 0.5s ease;
    z-index: 1;
}
#slashDeco{
    border: 2px solid var(--border-color);
    text-align: center;
    padding-left: 0px;
    border-width: 2px 0px 2px 0px;
    margin-left: 10px;
    margin-right: 10px;
}

#nav-box li {
    border: 3px solid var(--border-color);
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 75px;
}
#nav-box ul{
    margin-top: 15px;
    text-align: left;
}
#menuWindowHead {
    display: flex;
    justify-content: space-between;
}
#menuTitle{
    padding-left: 10px;
    width: fit-content;
    margin: 10px;
    color: var(--green);
    font-size: 30px;
}
#close-x {
    font-size: 20px;
    padding: 2px;
    margin: 10px;
    margin-right: 10px;
    transition: opacity 1s ease;
    width: fit-content;
    height: fit-content;
    border: 2px solid var(--green);
    cursor: pointer;
}

#close-x:hover{
    color: #000000;
    background-color: var(--green-selected);
    border: 2px solid var(--border-color);
}

#close-x.show-x{
    animation: x-animation 0.5s forwards;
}
.navigation ul {
    z-index: 1;
}



.navigation li{
    margin-bottom: 15px;
}
.navigation a {
    text-decoration: none;
    color: var(--green);
}
.navigation a:hover{
    color: #000000;
}
.navigation li:hover{
    background-color: var(--green-selected);
}
.navigation li:hover a{
    color: #000000;
}

.hover-select:hover::before {
    content: ">";
    padding-right: 2px;
    color:var(--green-selected); /* Change the color when hovering */
    animation: blink 1s infinite;
    background-color: var(--green-selected);
    color: #000000;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* About me section */

h2 {
    color: var(--green);
    padding-left: 50px;
    position: relative;
}

p {
    padding-top: 30px;
    color: var(--green);
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 2;
    margin-bottom: 0;
    
}


/*---underlines words---*/

.underline {
    text-decoration: underline;
}

.typingAnimation::after{
    content: "";
    position: relative;
    top: -11px;
    left: 0;
    display: inline-block;
    background-color: var(--green);
    vertical-align: bottom;
    width: 8px;
    height: 16px;
    animation: blink 1s infinite;
}
.typingAnimation-Description::after{
    content: "";
    position: relative;
    display: inline-block;
    background-color: var(--green);
    vertical-align: bottom;
    width: 8px;
    height: 16px;
    animation: blink 1s infinite;

}

/* past work example section */
.work-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.work-border { 
    margin-top: 20px; 
    min-width: 100px;
    
}

.work-border img {
    width: 100%;
    border: 3px solid var(--border-color);
}
.tint::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #056502a0;
    pointer-events: none;
}
#text-box-flex{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    margin-left: 30px;
}
.description-Box {
    flex: 1;
    margin-left: 30px;
    margin-top: 20px;
    padding: 5px;
    height:fit-content;
}
#work-Tittle {
    padding: 0;
    text-align: center;
    font-size: 30px;
}
#description-tittle{
    text-decoration: underline;
    color: var(--green);
    margin-top: 30px;
    margin-bottom: 10px;
}
#work-Description {
    color: var(--green);
}
#tools-list{
    text-decoration: underline;
    color: var(--green);
    margin-top: 30px;
    margin-bottom: 10px;
}
#work-tools {
    color: var(--green);
    list-style-type: disc;
    padding-left: 15px;
    margin-bottom: 30px;
}
#work-link {
    display: none;
    box-sizing: border-box;
    color: var(--green);
    text-decoration: none;
    padding: 5px 10px;
    width: fit-content;
    border: 3px solid var(--border-color);
    margin-left: 45%;
    margin-bottom: 30px;
}
#work-link:hover{
    background: var(--green-selected);
    border: 3px solid var(--border-color);
    color: black;
}
#work-link:hover::before{
    content: ">";
    animation: blink 1s infinite;
    color: black;
}


/*----footer section----*/ 


footer {
   text-align: right;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
footer div {
    margin-right: 50px;
    padding-top: 10px;
    margin-bottom: 100px;
}

/*-----settings for the hover effect on the footer-----*/
i:hover{
    color:var(--green-selected);
}
.iconHover:hover::before{
    content: ">";
    color: var(--green-selected);
    animation: blink 1s infinite;
}

footer div span { 
    display: none;
    position: absolute;
    right: 5%;
    color: var(--green-selected);
    padding: 5px;
    margin-top: -60px;
    white-space: nowrap;
    outline: 3px solid var(--border-color);
}

footer div:hover span{
    display: inline-block;
    align-items: flex-end;
}

#typed-text {
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid; /* Add a cursor effect */
}
/*--screen overlay-*/

#crt:before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 5px;
    z-index: 2;
    pointer-events: none;
}
@keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  }
  /*----adds glitch effect to text items--*/
  .crt {
    animation: textShadow 1.6s infinite;
  }
  /*----adds scan effect to text items--*/
  .scanline {
    width: 100%;
    height: 100vh;
    z-index: -8;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(0, 0, 0, 0.1) 100%
    );
    opacity: 0.1;
    position: fixed;
    bottom: 100%;
    animation: scanline 10s linear infinite;
}
@keyframes scanline {
    0% {
        bottom: 100%;
    }
    80% {
        bottom: 100%;
    }
    100% {
        bottom: 0%;
    }
}


/*-- changing the image on hover --*/
#profile-image-change:hover img {
    content: url(../images/profile/nobackground.png);
    transition:ease-in-out;
}




@media screen and (min-width: 571px) {
    /*--to resize nav to adjust for different screens--*/
    
    .h-position {
        align-items: center;
        display: flex;
    }
    #profileSection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding-right: 30px;
    }
    .deco-line {
        margin-top: 25px;
    }
    .navigation{
        position: absolute;
        right: 30px;
        top: 118px;
    }
    #nav-folder{
        flex-direction: row;
        gap: 30px;
    }
    .directoryContainer {
        display: flex;
        flex-direction: row;
    }
    #aboutme-decoline {
        display: none;
       
    }
    p{
        padding-right: 0px;
        padding-left: 0px;
    }
    .about-me {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    #about-me-paragraph {
        margin-top: 50px;
    }
    #aboutMeText{
        top: 50px;
        padding-left: 0px;  
    }
    
    .profile-square{
        margin-top: 90px;
        max-width: 250px;
        margin-left: 30px;
    }
   
}
